---
import BlogHero from "../../components/heros/Blog-Hero.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Ians3DP.au | Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <BlogHero />
  </div>
</BaseLayout>
