---
---

<div class='hero-image'>
  <div class='hero-text'>
    <h1>Welcome to Ian's</h1>
    <p>Shop</p>
  </div>
</div>

<style>
  .hero-image {
    background-color: rgb(115, 119, 52);
    background-image: linear-gradient(
        rgba(115, 119, 52, 0.5),
        rgba(115, 119, 52, 0.5)
      ),
      url("../../images/heros/products.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-image .hero-text {
    color: white;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .hero-text p {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4.5rem;
  }
</style>
