---
---

<div class='hero-image'>
  <div class='hero-text'>
    <h1>All Tag's</h1>
  </div>
</div>

<style>
  .hero-image {
    background-color: rgb(115, 119, 52);
    background-image: linear-gradient(
        rgba(115, 119, 52, 0.5),
        rgba(115, 119, 52, 0.5)
      ),
      url("../../images/heros/tags.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-image .hero-text {
    color: white;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  .hero-text p {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  .hero-btn {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: rgb(115, 119, 52);
    padding: 10px 30px;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
  }

  .hero-btn:hover {
    color: rgb(115, 119, 52);
    background-color: white;
  }
</style>
