---
import AboutHero from "../components/heros/About-Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Ians3DP.au | About";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <AboutHero />
  </div>
</BaseLayout>
