---
import ContactHero from "../components/heros/contact-Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Ians3DP.au | Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <ContactHero />
  </div>
</BaseLayout>
