---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Ians3DP.au";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <h1>Welcome to</h1>
    <h2>Ians 3D Printing Service</h2>
  </div>
</BaseLayout>
