---
import ProductsHero from "../components/heros/Products-Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Ians3DP.au | Products";
const welcomeText = "This is the Products Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <ProductsHero />
  </div>
</BaseLayout>
