---
import TagsHero from "../components/heros/Tags-Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Ians3DP.au | Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <TagsHero />
  </div>
</BaseLayout>
