---
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/png' href='/favicon-32x32.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main class='container'>
      <NavBar />
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    max-width: 1200px;
  }
  .container {
    min-width: 300px;
    margin: auto;
  }
</style>
